{% extends 'posts/base.html' %}
{% load static %}
{% block title %} Create New post  {% endblock%}

{% block 'content' %}
    <h1> Add new post</h1>
<form method="post" enctype="multipart/form-data">
  {% csrf_token %}
  <div class="mb-3">
    <label  class="form-label">Title</label>
    <input type="text" name="title" class="form-control"/>
  </div>
    <div class="mb-3">
    <label  class="form-label">Description</label>
    <input type="text" name="description"  class="form-control"/>
  </div>
    <div class="mb-3">
    <label  class="form-label">Publisher email</label>
    <input type="email"   name="email"  class="form-control"/>
  </div>
    <div class="mb-3">
    <label  class="form-label">Privacy </label>
        <div class="form-check">
  <input class="form-check-input"  value='1' type="radio" name="privacy" id="flexRadioDefault1">
  <label class="form-check-label" for="flexRadioDefault1">
    Public
  </label>
</div>
<div class="form-check">
  <input class="form-check-input"  value='2' type="radio" name="privacy" id="flexRadioDefault2" checked>
  <label class="form-check-label" for="flexRadioDefault2">
    Private
  </label>
</div>
  </div>

    </div>
    <div class="mb-3">
    <label  class="form-label">Image</label>
    <input type="file" name='image' class="form-control"/>
  </div>

     <div class="mb-3">
    <label  class="form-label">Version</label>
    <input type="number"  name='version' class="form-control"/>
  </div>

  <div class="mb-3">
    <label  class="form-label">Category</label>
    <select class="form-select" name='category' aria-label="Default select example">
      <option selected disabled>Open this select menu</option>
      {% for cat in categories %}
      <option value="{{cat.id}}">{{cat}}</option>
      {% endfor %}
    </select>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>

{% endblock %}
